.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .left-arrow {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
  
    svg {
      height: 50px;
      width: 50px;
      fill: white;
    } 
    &:hover > svg {
      fill: black;
    }
  }

  .right-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;

    svg {
      height: 50px;
      width: 50px;
      fill: white;
    }
    &:hover > svg {
      fill: black;
    }
  }

  .card {
    width: 600px;
    margin: 10px;
    height: 350px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2)
  }
}